@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'visuelt-pro';
  src: url('./assets//fonts/visuelt-pro-/VisueltPro-Regular.ttf');
}

@layer base {
  * {
    @apply box-border;
    @apply transition-colors duration-500;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'visuelt-pro', sans-serif;
    font-weight: 500;
  }
  .hero button,
  .contactPreview button,
  .contact .sendButton,
  .error button,
  .thankyouMessage button,
  .projectsPreview a {
    @apply before:absolute before:-z-50 before:bg-gray-200 dark:before:bg-gray-400 before:w-14 before:h-14 before:-left-5 before:rounded-[50%] hover:before:rounded-full before:duration-300 hover:before:w-[125%] hover:translate-x-3 before:hover:h-12 transition-all ease-in-out duration-500;
  }
  .darkmodeLogo {
    filter: brightness(0) invert(1);
  }
}
