@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'visuelt-pro';
  src: url('./assets//fonts/visuelt-pro-/VisueltPro-Regular.ttf');
}

@font-face {
  font-family: 'visuelt-pro-bold';
  src: url('./assets/fonts/visuelt-pro-/VisueltPro-Bold.woff2');
}

@layer base {
  * {
    @apply box-border;
    @apply transition-colors duration-300;
  }
  html {
    scroll-behavior: smooth;
  }
  p {
    font-family: 'visuelt-pro', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'visuelt-pro-bold', sans-serif;
    font-weight: 500;
  }

  .darkmodeLogo {
    filter: brightness(0) invert(1);
  }
}
